{% extends 'base.html' %}

{%- block append_title %} {{ _("Orders") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("Order selection") }}</h3></header>

    <div id="select_cuts" class="tab_container">
        <div id="tab1" class="tab_content">
            <table class="tablesorter" cellspacing="0">
                <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th>{{ _("Description") }}</th>
                        <th>{{ _("Entered at") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr>
                            <td class="checkid"><input type="checkbox" value="{{ result.id }}"></td>
                            <td>{{ result.description }}</td>
                            <td>{{ result.entered_at }}</td>
                    {% endfor %}
                </tbody>
            </table>
            <form name="selcut" id="selcut_form" action="cut/" method="post">
                <div class="module_content">
                    <fieldset id="settoggle" style="padding-bottom: 10px;">
                        <label class="pull-left"><h2>{{ _("Settings") }}</h2></label>
                        <div class="pull-right">{{ _("open/close") }}</div>
                    </fieldset>
                    <div class="clear"></div>
                    <fieldset id="settings" style="display: none;">
                        <label class="col-sm-4">{{ _("Select elements from each order") }}</label>
                        <input type="checkbox" name="settings[detail]" style="width: 50px;">
                        <div class="clear"></div>
                        <label class="col-sm-4">{{ _("Combine when item under") }}</label>
                        <input type="text" name="settings[merge]" value="90" style="width: 50px;" maxlength="3">
                        <span style="float: left;">%</span>
                        <div class="clear"></div>
                        <label class="col-sm-4">{{ _("Material loss with cut") }}</label>
                        <input type="text" name="settings[cut_loss]" value="3.0" style="width: 50px;" maxlength="3">
                        <span style="float: left;">mm</span>
                        <div class="clear"></div>
                        <label class="col-sm-4">{{ _("Minimum element dimension to cut") }}</label>
                        <input type="text" name="settings[cut_minimum]" value="5.0" style="width: 50px;" maxlength="3">
                        <span style="float: left;">mm</span>
                        <input type="hidden" name="settings[inventory_id]" value="{{ inventory_id }}">
                        <div class="clear"></div>
                    </fieldset>
                </div>
                <input type="hidden" name="action" value="cut">
                <input type="hidden" name="orders" value="">
                <fieldset>
                    <input type="submit" name="submit" value="{{ _("Cut") }}">
                </fieldset>
            </form>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
        <script>
            $("#selcut_form").submit(function (e) {
                var allVals = [];
                $('.checkid input[type="checkbox"]:checked').each(function () {
                    allVals.push($(this).val());
                });
                
                if (allVals.length < 1) {
                    $.alert({
                        title: '{{ _("Error") }}',
                        content: '{{ _("Please select orders") }}'
                    });
                    
                    return false;
                }
                
                $("#selcut_form input[name='orders']").attr("value", allVals.join(","));
            });
            
            $("#settoggle").click(function (e) {
                $("#settings").toggle();
            });
        </script>
{% endblock %}
