{% extends 'base.html' %}

{%- block append_title %} {{ _("Orders") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("Order selection") }}</h3></header>

    <div id="select_cuts" class="tab_container">
        <div id="tab1" class="tab_content">
            <div class="module_content">
            <form name="selcut" id="selcut_form" action="{{ url_for('orders.optimize.cut') }}" method="post">
            {% for result in results %}
            <table class="tablesorter" style="width: 75%">
                <tr><th>{{ _("Description") }}</th><td>{{ result.description }}</td></tr>
                <tr><th>{{ _("Order number") }}:</th><td>{{ result.order_number }}</td></tr>
                <tr><th>{{ _("Entered at") }}:</th><td>{{ result.entered_at }}</td></tr>
            </table>
            <br>
            <table class="tablesorter" cellspacing="0">
                <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th>{{ _("Name") }}</th>
                        <th>{{ _("Height") }}</th>
                        <th>{{ _("Width") }}</th>
                        <th>{{ _("Length") }}</th>
                        <th>{{ _("Quality") }}</th>
                        <th>{{ _("Weight") }}</th>
                        <th>{{ _("Amount") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_deliverable in result.order_deliverables %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ order_deliverable.name }}</td>
                            <td>{{ order_deliverable.y }}</td>
                            <td>{{ order_deliverable.z }}</td>
                            <td>{{ order_deliverable.x }}</td>
                            <td>{{ order_deliverable.quality.name }}</td>
                            <td>{{ order_deliverable.weight | round(2) }} kg</td>
                            <td><input type="text" name="details[{{ result.id }}][{{ order_deliverable.id }}]" value="{{ order_deliverable.amount }}">
                                /
                                {{ order_deliverable.amount }}</td>
                    {% endfor %}
                </tbody>
            </table>
            <br><br>
            {% endfor %}
                <input type="hidden" name="action" value="cut">
                <fieldset>
                    <input type="hidden" name="settings[merge]" value="{{ settings['merge'] }}">
                    <input type="hidden" name="settings[cut_loss]" value="{{ settings['cut_loss'] }}">
                    <input type="hidden" name="settings[cut_minimum]" value="{{ settings['cut_minimum'] }}">
                    <input type="hidden" name="settings[inventory_id]" value="{{ settings['inventory_id'] }}">

                    <input type="hidden" name="orders" value="{{ orders }}">

                    <input type="submit" name="submit" value="{{ _("Cut") }}">
                </fieldset>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
