{% extends 'base.html' %}

{%- block append_title %} {{ _("Orders") }} {% endblock %}

{% block container %}
    <header><h3>{{ _("New order") }}</h3></header>
    <div class="module_content">
        <form name="cn" id="cn_form" action="" method="post">
            <b>{{ _("Order number") }}</b><br>
            <input type="text" size="5" name="order_number" value="{{ order_number }}">
            <br><br>
            <b>{{ _("Description") }}</b><br>
            <textarea cols="75" name="description">{{ description }}</textarea>
            <br><br>
            <div id="cn_parts">
                {% for i, result in posted.iteritems() %}
                    <b>{{ _("Part") }} {{ i|int + 1 }}</b> - {{ _("Name") }}:
                        <input type="text" size="5" name="parts[{{ i }}][name]" value="{{ result['name'] }}">
                    {{ _("Height") }}: <input type="text" size="5" name="parts[{{ i }}][y]" value="{{ result['y'] }}">
                    {{ _("Width") }}: <input type="text" size="5" name="parts[{{ i }}][z]" value="{{ result['z'] }}">
                    {{ _("Length") }}: <input type="text" size="5" name="parts[{{ i }}][x]" value="{{ result['x'] }}">
                    {{ _("Quality") }}: <select name="parts[{{ i }}][quality]" autocomplete="off">
                        {% for quality in qualities %}
                            <option value="{{ quality.id }}" {%- if result['quality'] | int == quality.id %}selected='selected'{%- endif %}>{{ quality.name }}</option>
                        {% endfor %}
                    </select>
                    {{ _("Amount") }}: <input type="text" size="10" name="parts[{{ i }}][amount]" value="{{ result['amount'] }}">
                    <br><br>
                {% endfor %}
            </div>
            <br>
            <input type="button" value="{{ _("Add part") }}" class="add">
            <br><br>
            <input type="submit" value="{{ _("Submit") }}">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var i = {{ posted|length + 1 }};
            $("form#cn_form input:button.add").on('click', function () {
                var base = '<b>{{ _("Part") }} %i</b> - {{ _("Name") }}: <input type="text" size="5" name="parts[%j][name]" value="">' +
                ' {{ _("Height") }}: <input type="text" size="5" name="parts[%j][y]" value="0">' +
                ' {{ _("Width") }}: <input type="text" size="5" name="parts[%j][z]" value="0">' +
                ' {{ _("Length") }}: <input type="text" size="5" name="parts[%j][x]" value="0">' +
                ' {{ _("Quality") }}: <select name="parts[%j][quality]">' +
                {% for quality in qualities %}
                    '<option value="{{ quality.id }}">{{ quality.name }}</option>' +
                {% endfor %}
                '</select> {{ _("Amount") }}: <input type="text" size="10" name="parts[%j][amount]" value="">' +
                '<br><br>';
                base = base.replace(/%i/g, i).replace(/%j/g, i-1);
                $("form#cn_form #cn_parts").append($(base));
                i++;
            });
        });
    </script>
{% endblock %}
