{% extends 'base.html' %}

{%- block append_title %} {{ _("Orders") }} {% endblock %}

{% block container %}
    <header><h3>{{ _("Order") }}</h3></header>
    <div class="module_content">
        <table class="tablesorter" style="width: 75%">
            <tr><th>{{ _("Description") }}</th><td>{{ result.description }}</td></tr>
            <tr><th>{{ _("Order number") }}:</th><td>{{ result.order_number }}</td></tr>
            <tr><th>{{ _("Entered at") }}:</th><td>{{ result.entered_at }}</td></tr>
        </table>
        <br><br>
        <div class="element">
            <table class="tablesorter" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ _("Name") }}</th>
                        <th>{{ _("Height") }}</th>
                        <th>{{ _("Width") }}</th>
                        <th>{{ _("Length") }}</th>
                        <th>{{ _("Quality") }}</th>
                        <th>{{ _("Weight") }}</th>
                        <th>{{ _("Amount") }}</th>
                        <th>{{ _("Remaining") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in result.order_deliverables %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ element.name }}</td>
                            <td>{{ element.y }}</td>
                            <td>{{ element.z }}</td>
                            <td>{{ element.x }}</td>
                            <td>{{ element.quality.name }}</td>
                            <td>{{ element.weight | round(2) }} kg</td>
                            <td>{{ element.amount }}</td>
                            <td>{{ element.total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
