{% extends 'base.html' %}

{%- block append_title %} {{ _("Orders") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("Orders") }}</h3></header>

    <div class="tab_container">
        <div id="tab1" class="tab_content">
        <table class="tablesorter" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>{{ _("Description") }}</th>
                <th>{{ _("Entered at") }}</th>
                <th>{{ _("Element count") }}</th>
                <th class="col-sm-2"></th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td><!-- <input type="checkbox"> --></td>
                    <td>{{ result.description }}</td>
                    <td>{{ result.entered_at }}</td>
                    <td>{{ result.order_deliverables|length }}</td>
                    <td class="col-sm-2"><form action="/orders/list/{{ result.id }}/">
                            <input type="submit" value="{{ _("Details") }}">
                    </form></td>
                    <td class="col-sm-1"><input type="image" title="{{ _("Trash") }}" class="delete"
                        src="/static/images/icn_trash.png"
                        data-id="{{ result.id }}"></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>

    </div>
    {% include 'pager.html' with context %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $("#main .tablesorter td input.delete").on('click', function () {
                var el = $(this);
                $.confirm({
                    title: '{{ _("Delete") }}',
                    content: '{{ _("Are you sure you want to delete the item") }}?',
                    confirm: function() {
                        $.ajax({
                            url: '/orders/remove/' + el.data('id') + '/',
                            method: 'GET'
                        }).done(function(data) {
                            window.location.reload();
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
