{% extends 'base.html' %}

{%- block append_title %} {{ _("Orders") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("Excel") }}</h3>
    <ul class="tabs">
        <li><a href="#tab1">{{ _("Import") }}</a></li>
        <li><a href="#tab2">{{ _("Export") }}</a></li>
    </ul>
    </header>

    <div class="tab_container">
        <form name="iexi" id="iexi_form" action="import/" method="post" enctype="multipart/form-data">
        <div id="tab1" class="tab_content module_content">
            <fieldset style="width:48%; float:left; margin-right: 3%;">
                <label>{{ _("Orders") }}</label>
                <input type="file" id="import" name="import">
            </fieldset>
            <fieldset style="width:48%; float:left;">
                <input type="submit" value="{{ _("Send") }}">
            </fieldset><div class="clear"></div>
        </div>
        </form>

        <form name="iexe" id="iexe_form" action="export/" method="post" enctype="multipart/form-data">
        <div id="tab2" class="tab_content module_content">
            <fieldset style="width:48%; float:left; margin-right: 3%;">
                <label>{{ _("Orders") }}</label>
            </fieldset>
            <fieldset style="width:48%; float:left;">
                <input type="submit" value="{{ _("Receive") }}">
            </fieldset><div class="clear"></div>
        </div>
        </form>
    </div>
{% endblock %}
