{% extends "base.html" %}

{% block append_title %} - HTTP 403{% endblock %}

{% block container %}
    <div class="jumbotron">
        <h1>403 Forbidden</h1>
        <p class="lead">{{ _("Access denied") }}.</p>
        <p>URL: {{ request.url }}</p>
    </div>
{% endblock %}
