{% extends "base.html" %}

{% block append_title %} - HTTP 404{% endblock %}

{% block container %}
    <div class="jumbotron">
        <h1>404 Not Found</h1>
        <p class="lead">{{ _("Page not found") }}.</p>
        <p>URL: {{ request.url }}</p>
    </div>
{% endblock %}
