{% extends "base.html" %}

{% block append_title %} - HTTP 500{% endblock %}

{% block container %}
    <div class="jumbotron">
        <h1>500 Internal Server Error</h1>
        <p class="lead">{{ _("Server encountered an error and had to abort your request") }}.{{ _("Please try again") }}.</p>
        <p>URL: {{ request.url }}</p>
    </div>
{% endblock %}
