{% extends 'frame.html' %}

{% block title %}Vulcan I {%- block append_title %}{% endblock %}{% endblock %}

{% block html_body %}

    {% block navbar %}
        {# Need to set these variables to fix a "context depth limit" with Jinja2 blocks and includes. #}
        {% set flash_messages_modal = flash_messages_modal %}
        {% set flash_messages_well = flash_messages_well %}
        <section id="secondary_bar">
            {% include 'user.html' with context %}
            {% include 'breadcrumbs.html' with context %}
            {% include 'language.html' with context %}
        </section>
    {% endblock navbar %}

    {% block sidebar %}
    <aside id="sidebar" class="column">
        {% include 'menu.html' with context %}

        <footer>
            <hr />
            <p>Copyright &copy; 2015- Naltharial, Primož Jeras s.p.</p>
            <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
        </footer>
    </aside>
    {% endblock %}

    {% block section %}
    <section id="main" class="column">

        {% block content %}
            <article class="module width_full">
                {% block container %}
                {% endblock container %}
            </article>
        {% endblock %}

        <div class="spacer"></div>
    </section>
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function confirmation(title, text, form) {
            form = $(form)
            $.confirm({
                title: title,
                content: text,
                confirm: function() {
                    if (form !== "undefined") {
                        form.parents('form:first').submit();
                    }
                }
            });
        }
    </script>
{% endblock %}
