{% from 'flash.html' import modal_alert, well_alert_navbar, well_alert %}

{% block breadcrumbs %}
    <div class="breadcrumbs_container">
        <article class="breadcrumbs">
            <a href="/">{{ _("Website Admin") }}</a>
            <div class="breadcrumb_divider"></div>
            {# TODO: URL-linking #}
            {% for crumb in breadcrumbs[0:breadcrumbs|length-2] %}
                <a class="current">{{ _(crumb) }}</a>
                <div class="breadcrumb_divider"></div>
            {% endfor %}
            <a class="current">{{ breadcrumbs[breadcrumbs|length-1] }}</a>
        </article>
    </div>
{% endblock %}

{{ well_alert(flash_messages_well) }}
{{ modal_alert(flash_messages_modal) }}
