{# This template is only used by vulcan_web.core.email. #}

{% block page_html %}
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>
    <head><title>%(title)s // Werkzeug Debugger</title></head>
    <body style="color: #000; text-align: center; font-size: 15px; margin: 1em; padding: 0;">
    <div style="text-align: left; background-color: white; margin: auto; padding: 12px;">
        <h1 style="font-weight: normal; font-size: 36px; margin: 0 0 0.3em;">%(exception_type)s</h1>
        <div><p style="font-size: 14px; white-space: pre-wrap; margin: 0 0 8px 13px;">%(exception)s</p></div>
        <h2 style="font-weight: normal; font-size: 16px; color: white; background-color: #11557C; margin: 1.3em 0 0;
                padding: 9px;">
            Traceback
            <em style="font-style: normal; color: #A5D6D9; font-weight: normal;">(most recent call last)</em>
        </h2>
        %(summary)s
        <div style="font-size: 15px; color: #555; margin: 20px 13px;">
            The debugger caught an exception in your WSGI application. You can now look at the traceback which led to
            the error.
        </div>
        <div style="font-size: 13px; text-align: right; color: #86989B; margin: 30px 0;">
            Brought to you by <strong>DON'T PANIC</strong>, your friendly Werkzeug powered traceback interpreter.
        </div>
    </div>
    </body>
    </html>
{% endblock %}

{% block summary_html %}
    <div style="margin: 0 0 1em; padding: 10px; border: 1px solid #ddd;">
        %(title)s
        <ul style="list-style-type: none; margin: 0; padding: 0 0 0 1em;">%(frames)s</ul>
        %(description)s
    </div>
{% endblock %}

{% block frame_html %}
    <div>
        <h4 style="font-size: 13px; font-weight: normal; margin: 0.7em 0 0.1em;">
            File <cite style="font-style: normal; color: #3B666B;">"%(filename)s"</cite>, line <em>%(lineno)s</em>,
            in <code style="font-size: 14px;">%(function_name)s</code>
        </h4>
    <pre style="font-size: 14px; white-space: -o-pre-wrap; word-wrap: break-word; _white-space: pre;
            background-color: #E8EFF0; margin: 0; padding: 5px 0 3px 15px; border: 1px solid #d3e7e9;">
        %(current_line)s
    </pre>
    </div>
{% endblock %}
