{% extends 'flask_statics_helper/bootstrap.html' %}
{% from 'flash.html' import normal_alert %}

{% set flash_messages_normal = get_flashed_messages(with_categories=True,
    category_filter=['default', 'success', 'info', 'warning', 'danger']) %}
{% set flash_messages_modal = get_flashed_messages(category_filter=['modal']) %}
{% set flash_messages_well = get_flashed_messages(category_filter=['well']) %}

{% if flash_messages_normal %}{% set STATICS_ENABLE_RESOURCE_BOOTSTRAP_GROWL = True %}{% endif %}
{% if flash_messages_well %}{% set STATICS_ENABLE_RESOURCE_CSSHAKE = True %}{% endif %}

{% block title %}Vulcan{% endblock %}

{% block styles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/jquery-confirm.min.css" type="text/css" media="screen" />
    {{ super() }}
{% endblock %}

{% block html_body %}

    {% block navbar %}
    {% endblock navbar %}

    {% block sidebar %}
    {% endblock %}

    {% block section %}
    <section id="main" class="column">

        {% block content %}
            <article class="module width_full">
                {% block container %}
                {% endblock container %}
            </article>
        {% endblock %}

        <div class="spacer"></div>
    </section>
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="/static/js/hideshow.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.equalHeight.js"></script>
    <script type="text/javascript" src="/static/js/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="/static/js/admin.js"></script>
    <script type="text/javascript" src="/static/js/language.js"></script>

    {% if flash_messages_normal %}
        <script type='text/javascript'>
            $.growl.default_options.delay = 0;
            $.growl.default_options.position = { from: 'top', align: 'center'};
            $.growl.default_options.template.container =
                    '<div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 growl-animated alert abAlert">';
        </script>
    {% endif %}

    {{ normal_alert(flash_messages_normal) }}
{% endblock %}