{% block location %}
    <div class="language_container">
        <article class="language">
            <select name="language">
                <option value="en_uk" {{ "selected" if g.user.locale == 'en_uk' }}>English</option>
                <option value="sl_si"{{ "selected" if g.user.locale == 'sl_si' }}>Slovenščina</option>
            </select>
        </article>
    </div>
{% endblock %}
