{% for item in menu_order %}
    <h3>{{ _(item) }}</h3>
    <ul class="toggle">
    {% for name, entry in menu[item].iteritems() %}
        <li class="{{ entry[1] }}"><a
            href="{{ url_for(entry[0]) }}">{{ _(name) }}</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
