{% set max_pages = ([20, pages] | min) %}

{% if current > 10 %}
    {% set start = current - 10 %}
{% else %}
    {% set start = 0 %}
{% endif %}

{#  Jinja2 does not support dragging variables out of
    loop/control scopes, so we hack around that using
    dictionary functions                              #}
{% set cqso = {'cqs': ''} %}
{% if request.query_string %}
    {% for arg, val in request.args.iteritems() %}
        {% if arg != "page" %}
            {% if cqso.update({'cqs': arg + '=' + val + '&' + cqso['cqs']}) %}
            {% endif  %}
        {% endif %}
    {% endfor %}
{% endif %}
{% set cqs = cqso['cqs'] %}

{% block pager %}
<footer>
    <div id="pager" style="width: {{ (max_pages+2) * 30 + 10 }}px;">
        {% if start > 0 %}
            <a href="?{{ cqs[:-1] if cqs|length > 0 }}">
                 <<
            </a>
        {% endif %}
        {% for i in range(start, [max_pages+start, pages] | min) %}
            <a class="{{ 'active' if i == current }}"
                href="?{%- if i > 0 -%}
                        {{- cqs -}}
                        page={{- i -}}
                    {%- else -%}
                        {{- cqs[:-1] if cqs|length > 0 -}}
                    {%- endif -%}">
                {{ i }}
            </a>
        {% endfor %}
        {% if pages-current > 10 %}
            <a href="?{{ cqs }}page={{ pages-1 }}">
                 >>
            </a>
        {% endif %}
        <div class="clear"></div>
    </div>
</footer>
{% endblock %}
