{% from 'flash.html' import modal_alert, well_alert_navbar, well_alert %}

{% block user %}
    <div class="user">
        <p>{{ g.user.email }}</p>
        <a class="logout_user" href="/logout" title="Logout">{{ _("Logout") }}</a>
    </div>
{% endblock %}

{{ well_alert(flash_messages_well) }}
{{ modal_alert(flash_messages_modal) }}
