{% extends 'base.html' %}

{%- block append_title %} {{ _("Inventory") }} {% endblock %}

{% block container %}
    <header><h3>{{ _("Inventory") }}</h3></header>
    <div class="module_content">
        <form method="post">
            <table class="tablesorter" style="width: 75%">
                <tr><th>{{ _("Ident") }}</th><td>{{ result.ident }}</td></tr>
                <tr><th>{{ _("Height") }}</th><td><input type="text" name="y" value="{{ result.y }}"> mm</td></tr>
                <tr><th>{{ _("Width") }}</th><td><input type="text" name="z" value="{{ result.z }}"> mm</td></tr>
                <tr><th>{{ _("Length") }}</th><td><input type="text" name="x" value="{{ result.x }}"> mm</td></tr>
                <tr><th>{{ _("Quality") }}</th><td>{{ result.quality.name }}</td></tr>
                <tr><th>{{ _("Place") }}</th><td><input type="text" name="place" value="{{ result.place }}"></td></tr>
                <tr><th>{{ _("Weight") }}</th><td>{{ result.weight | round(2) }} kg</td></tr>
            </table>
            <br>
            <input type="submit" value="{{ _("Save") }}">
        </form>
    </div>
    </div>
{% endblock %}
