{% extends 'base.html' %}

{%- block append_title %} {{ _("Inventory") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("Clear inventory") }}</h3></header>

    <div class="module_content">
        {{ _("Please confirm clearing the inventory") }}.<br><br>
        <form name="iex" id="iex_form" action="" method="post">
            <input type="hidden" id="iex_action" name="action" value="clear">
            <input type="submit" value="{{ _("Clear") }}">
        </form>

    </div>
{% endblock %}
