{% extends 'base.html' %}

{%- block append_title %} {{ _("Inventory") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("Inventory") }}</h3></header>
    <div class="tab_container">
        <div id="tab1" class="tab_content">
        <form id="search" action="/inventory/list/" method="get">
            <fieldset class="col-xs-3 col-sm-2">
                <select name="field">
                    <option value="ident__contains" {{ "selected" if field == 'ident__contains' }}>Ident</option>
                    <option value="y" {{ "selected" if field == 'y' }}>{{ _("Height") }}</option>
                    <option value="z" {{ "selected" if field == 'z' }}>{{ _("Width") }}</option>
                    <option value="x" {{ "selected" if field == 'x' }}>{{ _("Length") }}</option>
                    <option value="quality__name__contains" {{ "selected" if field == 'quality__name__contains' }}>{{ _("Quality") }}</option>
                    <option value="place__contains" {{ "selected" if field == 'place__contains' }}>{{ _("Place") }}</option>
                </select>
            </fieldset>
            <fieldset class="col-xs-8 col-sm-7">
                <input type="text" name="value" value="{{ value if field }}" placeholder="{{ _("Search for") }} ...">
            </fieldset>
            <fieldset class="col-xs-4 col-sm-3">
                <input type="submit" class="alt_btn" value="{{ _("Search") }}">
            </fieldset>
        </form>
        <table class="tablesorter" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Ident</th>
                <th>{{ _("Height") }}</th>
                <th>{{ _("Width") }}</th>
                <th>{{ _("Length") }}</th>
                <th>{{ _("Quality") }}</th>
                <th>{{ _("Place") }}</th>
                <th>{{ _("Weight") }}</th>
                <th class="col-xs-1"></th>
                <th class="col-xs-1"></th>
                <th class="col-xs-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td><!-- <input type="checkbox"> --></td>
                    <td>{{ result.ident }}</td>
                    <td>{{ result.y }}</td>
                    <td>{{ result.z }}</td>
                    <td>{{ result.x }}</td>
                    <td>{{ result.quality.name }}</td>
                    <td>{{ result.place }}</td>
                    <td>{{ result.weight | round(2) }} kg</td>
                    <td class="col-xs-1"><form action="/orders/optimize/" method="post">
                            <input type="hidden" name="inventory_id" value="{{ result.id }}">
                            <input type="submit" value="{{ _("Cut") }}">
                    </form></td>
                    <td class="col-xs-1"><form action="/inventory/list/{{ result.id }}/">
                            <input type="submit" value="{{ _("Edit") }}">
                    </form></td>
                    <td class="col-xs-1"><input type="image" title="{{ _("Trash") }}" class="delete"
                        src="/static/images/icn_trash.png"
                        data-id="{{ result.id }}"></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    {% include 'pager.html' with context %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $("#main .tablesorter td input.delete").on('click', function () {
                var el = $(this);
                $.confirm({
                    title: '{{ _("Delete") }}',
                    content: '{{ _("Are you sure you want to delete the item") }}?',
                    confirm: function() {
                        $.ajax({
                            url: '/inventory/remove/' + el.data('id') + '/',
                            method: 'GET'
                        }).done(function(data) {
                            window.location.reload();
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
