{% extends 'base.html' %}

{%- block append_title %} {{ _("Users") }} {% endblock %}

{% block container %}
    <header><h3>{{ _("New") }}</h3></header>
    <div class="module_content" style="width: 50%">
        <form name="cn" id="cn_form" action="" method="post" enctype="multipart/form-data">
            <table class="tablesorter">
                <tr>
                    <td><b>{{ _("Email") }}</b></td>
                    <td><input type="text" name="email" value="{{ email }}"></td>
                </tr>
                <tr>
                    <td><b>{{ _("Password") }}</b></td>
                    <td><input type="password" name="password" value="{{ password }}"></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="{{ _("Create") }}">
        </form>
    </div>
{% endblock %}
