{% extends 'base.html' %}

{%- block append_title %} {{ _("Users") }} {% endblock %}

{% block container %}
    <header><h3>{{ _("User") }}</h3></header>
    <div class="module_content">
            <b>{{ _("Email") }}:</b> {{ result.email }}<br>
            <br>
            <b>{{ _("Roles") }}:</b>
            <div class="element">
                <table class="tablesorter" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ _("Name") }}</th>
                            <th>{{ _("Description") }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in result.roles %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ element.name }}</td>
                                <td>{{ element.description }}</td>
                                <td class="col-sm-1"><input type="image" title="{{ _("Trash") }}" class="delete"
                                    src="/static/images/icn_trash.png"
                                    data-id="{{ element.id }}"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <select id="role_select" name="role_select">
                {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name }}</option>
                {% endfor %}
            </select>
            <input id="add_role" type="submit" value="{{ _("Add role") }}">
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $("#main input#add_role").on('click', function () {
                $.confirm({
                    title: '{{ _("Add role") }}',
                    content: '{{ _("Are you sure you want to add role to user") }}?',
                    confirm: function() {
                        $.ajax({
                            url: '/users/roles/' + $( "#role_select" ).val() + '/add_user/{{ result.id }}/',
                            method: 'GET'
                        }).done(function(data) {
                            window.location.reload();
                        });
                    }
                });
            });

            $("#main .tablesorter td input.delete").on('click', function () {
                var el = $(this);
                $.confirm({
                    title: '{{ _("Delete") }}',
                    content: '{{ _("Are you sure you want to remove the role from user") }}?',
                    confirm: function() {
                        $.ajax({
                            url: '/users/roles/' + el.data('id') + '/remove_user/{{ result.id }}/',
                            method: 'GET'
                        }).done(function(data) {
                            window.location.reload();
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
