{% extends 'base.html' %}

{%- block append_title %} {{ _("Users") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("Users") }}</h3></header>

    <div class="tab_container">
        <div id="tab1" class="tab_content">
        <form id="search" action="/users/list/" method="get">
            <fieldset class="col-xs-3 col-sm-2">
                <select name="field">
                    <option value="email__contains" {{ "selected" if field == 'email__contains' }}>{{ _("Email") }}</option>
                </select>
            </fieldset>
            <fieldset class="col-xs-8 col-sm-7">
                <input type="text" name="value" value="{{ value if field }}" placeholder="{{ _("Search for") }} ...">
            </fieldset>
            <fieldset class="col-xs-4 col-sm-3">
                <input type="submit" class="alt_btn" value="{{ _("Search") }}">
            </fieldset>
        </form>
        <table class="tablesorter" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>{{ _("Email") }}</th>
                <th>{{ _("Roles") }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td><!-- <input type="checkbox"> --></td>
                    <td>{{ result.email }}</td>
                    <td>
                        {% for role in result.roles %}
                            {{ role.name }}
                        {% endfor %}
                    </td>
                    <td class="col-sm-2"><form action="/users/list/{{ result.id }}/">
                            <input type="submit" value="{{ _("Manage") }}">
                        </form>
                    </td>
                    <td>{% if g.user.has_role('Admin') %}
                        <input type="image" title="{{ _("Trash") }}" class="delete"
                            src="/static/images/icn_trash.png"
                            data-id="{{ result.id }}">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>

    </div>
    {% include 'pager.html' with context %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $("#main .tablesorter td input.delete").on('click', function () {
                var el = $(this);
                $.confirm({
                    title: '{{ _("Delete") }}',
                    content: '{{ _("Are you sure you want to delete the item") }}?',
                    confirm: function() {
                        $.ajax({
                            url: '/users/remove/' + el.data('id') + '/',
                            method: 'GET'
                        }).done(function(data) {
                            window.location.reload();
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
