{% extends "security/security_base.html" %}

{% block container %}
    <div style="padding: 40px;">
        <h1>{{ _("Login") }}</h1>

        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            {{ render_field_with_errors(login_user_form.email) }}
            {{ render_field_with_errors(login_user_form.password) }}
            {{ render_field_with_errors(login_user_form.remember) }}
            {{ render_field(login_user_form.next) }}
            {{ render_field(login_user_form.submit) }}
        </form>
    </div>
{% endblock %}
