{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% extends "frame.html" %}

{% block navbar %}
    {# Need to set these variables to fix a "context depth limit" with Jinja2 blocks and includes. #}
    {% set flash_messages_modal = flash_messages_modal %}
    {% set flash_messages_well = flash_messages_well %}
    <section id="secondary_bar">
        <div class="user">
            <p style="background: none;">Vulcan Industrial</p>
        </div>
    </section>
{% endblock navbar %}

{% block sidebar %}
<aside id="sidebar" class="column">
</aside>
{% endblock %}

{% block container %}
{% endblock %}

{% include "security/_menu.html" %}
