{% extends 'base.html' %}

{%- block append_title %} Index {% endblock %}

{% block container %}
    <div style="padding: 20px; text-align:center;">
        <h1>Vulcan Industrial</h1>
    </div>
    <div style="padding: 40px;">
        {{ _("Welcome to Vulcan") }}.
    </div>
{% endblock %}
