{% extends 'base.html' %}

{%- block append_title %} {{ _("Qualities") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("Qualities") }}</h3></header>

    <div class="tab_container">
        <div id="tab1" class="tab_content">
        <form id="search" action="/qualities/list/" method="get">
            <fieldset class="col-xs-3 col-sm-2">
                <select name="field">
                    <option value="name__contains" {{ "selected" if field == 'name__contains' }}>{{ _("Name") }}</option>
                    <option value="place__contains" {{ "selected" if field == 'place__contains' }}>{{ _("Place") }}</option>
                    <option value="cut_time" {{ "selected" if field == 'cut_time' }}>{{ _("Cut time") }}</option>
                </select>
            </fieldset>
            <fieldset class="col-xs-8 col-sm-7">
                <input type="text" name="value" value="{{ value if field }}" placeholder="{{ _("Search for") }} ...">
            </fieldset>
            <fieldset class="col-xs-4 col-sm-3">
                <input type="submit" class="alt_btn" value="{{ _("Search") }}">
            </fieldset>
        </form>
        <table class="tablesorter" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Place") }}</th>
                <th>{{ _("Cut time") }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td><!-- <input type="checkbox"> --></td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.place }}</td>
                    <td>{{ result.cut_time }} <sup>cm<sup>2</sup></sup>&frasl;<sub>min</sub></td>
                    <td><input type="image" title="{{ _("Trash") }}" class="delete"
                        src="/static/images/icn_trash.png"
                        data-id="{{ result.id }}"></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>

    </div>
    {% include 'pager.html' with context %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $("#main .tablesorter td input.delete").on('click', function () {
                var el = $(this);
                $.confirm({
                    title: '{{ _("Delete") }}',
                    content: '{{ _("Are you sure you want to delete the item") }}?',
                    confirm: function() {
                        $.ajax({
                            url: '/qualities/remove/' + el.data('id') + '/',
                            method: 'GET'
                        }).done(function(data) {
                            window.location.reload();
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
