{% extends 'base.html' %}

{%- block append_title %} {{ _("Qualities") }} {% endblock %}

{% block container %}
    <header><h3>{{ _("New") }}</h3></header>
    <div class="module_content" style="width: 50%">
        <form name="cn" id="cn_form" action="" method="post" enctype="multipart/form-data">
            <table class="tablesorter">
                <tr>
                    <td><b>{{ _("Name") }}</b></td>
                    <td><input type="text" name="name" value="{{ name }}"></td>
                </tr>
                <tr>
                    <td><b>{{ _("Place") }}</b></td>
                    <td><input type="text" name="place" value="{{ place }}"></td>
                </tr>
                <tr>
                    <td><b>{{ _("Cut time") }}</b></td>
                    <td><input type="text" name="cut_time" value="{{ cut_time }}"> <sup>cm<sup>2</sup></sup>&frasl;<sub>min</sub></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="{{ _("Create") }}">
        </form>
    </div>
{% endblock %}
