{% extends 'base.html' %}

{%- block append_title %} {{ _("Cuts") }} {% endblock %}

{% block container %}
    <header><h3>{{ _("Cut") }}</h3></header>
    <div class="module_content">
            <b>{{ _("Cut at") }}:</b> {{ cut.cut_at }}
            <br><br>
            <b>{{ _("Status") }}:</b> {{ _(cut.status.name) }}
            <br><br>
            <header><h3>{{ _("Inventory") }}</h3></header>
            {% include 'insert/optimize_inventory_list.html' %}
            <br><br>
            <header><h3>{{ _("Elements") }}</h3></header>
            {% include 'insert/optimize_element_list.html' %}
        <br><br>
        {% if cut.status.name == "Pending" %}
        <div class="col-md-3 col-md-offset-4">
            <form action="approve/" method="post">
                <input type="submit" value="{{ _("Approve") }}">
            </form>
        </div>
        <div class="col-md-3">
            <form action="reject/" method="post">
                <input type="submit" value="{{ _("Reject") }}">
            </form>
        </div>
        {% endif %}
        <br><br>
        {% block process %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
