{% extends 'cuts_detail.html' %}

{% block process %}
    <header><h3 class="tabs_involved">{{ _("Cut optimization") }}</h3>
    <ul class="tabs">
        <li><a href="#tab1">{{ _("3D") }}</a></li>
        <li><a href="#tab2">{{ _("Text") }}</a></li>
        <li><a href="#tab3">{{ _("XMLX") }}</a></li>
    </ul>
    </header>
    <div class="tab_container">
        <div id="tab1" class="tab_content module_content">
            <div id="cuts-3d" class="row">
                {% with show_image=True %}
                    {% include 'insert/optimize_cut_list.html' %}
                {% endwith %}
            </div>
        </div>
        <div id="tab2" class="tab_content module_content">
            <div id="cuts-text" class="row">
                {% with show_image=False %}
                    {% include 'insert/optimize_cut_list.html' %}
                {% endwith %}
            </div>
        </div>
        <div id="tab3" class="tab_content module_content">
        <form name="iex" id="iex_form" action="ex/" enctype="multipart/form-data">
            <fieldset style="width:48%; float:left; margin-right: 3%;">
                <label>Excel</label>
            </fieldset>
            <fieldset style="width:48%; float:left;">
                <input type="submit" value="{{ _("Receive") }}">
            </fieldset><div class="clear"></div>
        </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('[data-control]').on('click', function () {
                var cls = $(this).data('control');
                $(document.getElementById(cls)).toggle();
            });
        });
    </script>
{% endblock %}
