{% extends 'base.html' %}

{%- block append_title %} {{ _("Cuts") }} {% endblock %}

{% block container %}
    <header><h3 class="tabs_involved">{{ _("History") }}</h3></header>

    <div class="tab_container">
        <div id="tab1" class="tab_content">
        <table class="tablesorter" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>{{ _("Cut at") }}</th>
                <th>{{ _("Inventory taken") }}</th>
                <th>{{ _("Element count") }}</th>
                <th>{{ _("Status") }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                {% if result.status.name == "Pending" %}
                    {% set tr_style = "background-color: rgba(255,128,0,0.2); border: solid red 0.1em;" %}
                {% endif %}
                {% if result.status.name == "Approved" %}
                    {% set tr_style = "background-color: rgba(0,128,64,0.05);" %}
                {% endif %}
                {% if result.status.name == "Rejected" %}
                    {% set tr_style = "background-color: rgba(255,0,0,0.05);" %}
                {% endif %}
                <tr style="{{ tr_style }}">
                    <td><!-- <input type="checkbox"> --></td>
                    <td>{{ result.cut_at }}</td>
                    <td>{{ result.inventory|length }}</td>
                    <td>{{ result.order_deliverable_cuts|sum(attribute='order_deliverable.amount') }}</td>
                    <td>{{ _(result.status.name) }}</td>
                    <td><form action="/cuts/list/{{ result.id }}/" method="get">
                        <input type="submit" value="{{ _("Details") }}">
                    </form></td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    {% include 'pager.html' with context %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $("#main .tablesorter td input.delete").on('click', function () {
                var el = $(this);
                $.confirm({
                    title: '{{ _("Delete") }}',
                    content: '{{ _("Are you sure you want to delete the item") }}?',
                    confirm: function() {
                        $.ajax({
                            url: '/cuts/remove/' + el.data('id') + '/',
                            method: 'GET'
                        }).done(function(data) {
                            window.location.reload();
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
