{% block inventory_list %}
    <table class="tablesorter" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Height") }}</th>
                <th>{{ _("Width") }}</th>
                <th>{{ _("Length") }}</th>
                <th>{{ _("Quality") }}</th>
                <th>{{ _("Weight") }}</th>
                <th>{{ _("Amount") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for order_deliverable_cut in cut.order_deliverable_cuts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ order_deliverable_cut.order_deliverable.name }}</td>
                    <td>{{ order_deliverable_cut.order_deliverable.y }}</td>
                    <td>{{ order_deliverable_cut.order_deliverable.z }}</td>
                    <td>{{ order_deliverable_cut.order_deliverable.x }}</td>
                    <td>{{ order_deliverable_cut.order_deliverable.quality.name }}</td>
                    <td>{{ order_deliverable_cut.order_deliverable.weight | round(2) }} kg</td>
                    <td>{{ order_deliverable_cut.amount }}</td>
                </tr>
            {% endfor %}
            <tr class="total">
                <td>{{ _("Total") }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ totals['elements']['weight'] | round(2) }} kg</td>
                <td>{{ totals['elements']['amount'] }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
