{% block inventory_list %}
    <table class="tablesorter" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>{{ _("Ident") }}</th>
                <th>{{ _("Height") }}</th>
                <th>{{ _("Width") }}</th>
                <th>{{ _("Length") }}</th>
                <th>{{ _("Quality") }}</th>
                <th>{{ _("Place") }}</th>
                <th>{{ _("Weight") }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for result in cut.inventory %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ result.ident }}</td>
                    <td>{{ result.y }}</td>
                    <td>{{ result.z }}</td>
                    <td>{{ result.x }}</td>
                    <td>{{ result.quality.name }}</td>
                    <td>{{ result.place }}</td>
                    <td>{{ result.weight | round(2) }} kg</td>
                </tr>
            {% endfor %}
            <tr class="total">
                <td>{{ _("Total") }}</td>
                <td>{{ totals['items']['amount'] }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ totals['items']['weight'] | round(2) }} kg</td>
            </tr>
        </tbody>
        </table>
{% endblock %}
