{% macro status_str(status) %}
    {{ _('Intermediate') if status == 0 }}
    {{ _('Final (empty)') if status == 1 }}
    {{ _('Final (result)') if status == 2 }}
{% endmacro %}

{% block optimize %}
    {% set confirm_text = _("Are you sure you want to delete this inventory part form the cut") + "?<br>" +
                          _("Part and order elements inside will be returned to their inventories") + "." %}
    {% for result in results %}
        {% set outer_loop = loop %}
        <div class="bin col-sm-12">
            <div class="reference">
                <form method="post" action="detach/">
                    <input type="hidden" name="element_id" value="{{ result[0].id }}">
                    <h1>{{ _("Part") }} {{ result[0].ident }} - {{ loop.index }} / {{ result|length }}
                        {% if cut.status.name == "Pending" %}
                            <button class="close snap_red" onclick="confirmation('{{ _("Delete") }}', '{{ confirm_text }}', this); return false;">&times;</button>
                        {% endif %}
                    </h1>
                    <b>{{ _("Place") }}</b> - {{ result[0].place }}<br>
                    <b>{{ _("Quality") }}</b> - {{ result[0].quality.name }}<br>
                    <b>{{ _("Time used") }}</b> - {{ result[0].time_str }}<br>
                    <br>
                </form>
            </div>
            {% for step in result %}
                <div class="step row">
                    <div class="status-{{ step.status }} col-md-12 clearfix"
                            data-control="1+{{ step.id }}+{{ outer_loop.index }}+{{ loop.index }}">
                        <div class="pull-left"><h2>{{ _("Step") }}: {{ status_str(step.status) }} - {{ loop.index }} / {{ result|length }} </h2></div>
                        <div class="pull-right">{{ _("open/close") }}</div>
                    </div>
                    <div id="1+{{ step.id }}+{{ outer_loop.index }}+{{ loop.index }}" class="col-md-12"
                            style="display: {{ 'none' if step.status == 1 else 'block' }};">
                        <div class="description col-xs-11 col-sm-8">
                            <div class="size">
                                <div class="col-xs-4 col-sm-3">
                                    <h3>{{ _("Element") }}</h3>
                                    {{ _("Height") }}: {{ step.y }},<br>
                                    {{ _("Width") }}: {{ step.z }},<br>
                                    {{ _("Length") }}: {{ step.x }},<br>
                                    {{ _("Weight") }}: {{ step.weight | round(2) }} kg
                                </div>
                                {% if step.places|length %}
                                    <div class="col-xs-4 col-sm-3">
                                        <h3>{{ _("Positions") }}</h3>
                                        {% for place in step.places %}
                                            {{ place[1].name }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            {% if not step.status %}
                                <div class="col-xs-4 col-sm-3" class="cut">
                                    <h3>{{ _("Cut") }}</h3>
                                    <table>
                                        <tr>
                                            <td>{{ _("location") }}:</td>
                                            <td>&nbsp;</td>
                                            <td>{% if step.cut_at.y %}
                                                    {{ _("height") }}, {{ step.cut_at.y }}
                                                {% endif %}
                                                {% if step.cut_at.z %}
                                                    {{ _("width") }}, {{ step.cut_at.z }}
                                                {% endif %}
                                                {% if step.cut_at.x %}
                                                    {{ _("length") }}, {{ step.cut_at.x }}
                                                {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ _("time") }}:</td>
                                            <td>&nbsp;</td>
                                            <td>{{ step.time_str }}</td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        <div class="image col-xs-4 col-sm-3">
                            {% if show_image %}
                            <img class="image col-xs-16 col-sm-12"
                                 alt="{{ _("Cut") }} {{ loop.index }} / {{ result|length }} {{ _("of") }} {{ step.ident }}"
                                 src="{{ baseurl }}/{{ step.reference }}.svg">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
