section#secondary_bar .language_container
{
    float: left;
    height: 38px;
    width: 10%;
}

    article.language {
        float: left;
        padding: 0 10px;
        border: 1px solid #ccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 0 #fff;
        -moz-box-shadow: 0 1px 0 #fff;
        box-shadow: 0 1px 0 #fff;
        height: 23px;
        margin: 4px 3%;
    }

.tab_container button.snap_red
{
    color: red;
    font-size: 35px;
    font-weight: bold;
    float: none;
    margin: 0 0 5px 15px;
    vertical-align: middle;
}

.tablesorter tr.total {
    background-color: rgba(200, 255, 255, 0.5);
}

#cuts-3d .bin,
#cuts-text .bin,
{
    margin-top: 10px;
}

    #cuts-3d .bin .reference,
    #cuts-text .bin .reference,
    {
        margin-top: 25px;
    }

    #cuts-3d .bin .step,
    #cuts-text .bin .step
    {
        border: 1px solid grey;
        border-radius: 5px;
        margin-top: 5px;
        padding-bottom: 10px;
    }

        #cuts-3d .bin .step .status-0,
        #cuts-text .bin .step .status-0
        {
            background-color: lightgrey;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
        #cuts-3d .bin .step .status-1,
        #cuts-text .bin .step .status-1
        {
            background-color: lightgreen;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
        #cuts-3d .bin .step .status-2,
        #cuts-text .bin .step .status-2
        {
            background-color: lightblue;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

    #select_cuts .tablesorter td.checkid {
        text-align: center;
        vertical-align: middle;
    }

#select_cuts #selcut_form fieldset {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

fieldset input[type="checkbox"] {
    background-position: 10px 6px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    box-shadow: 0 2px 2px #ccc inset, 0 1px 0 #fff;
    color: #666666;
    display: block;
    float: left;
    height: 20px;
    margin: 0 10px;
    padding-left: 10px;
}
